<% content_for :header do %>
  <%= link_to new_countdown_event_path, class: "flex transition justify-center items-center underline text-xl active:bg-blue-200 hover:bg-blue-300 px-3 py-2" do %>
    New item
    <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  <% end %>
<% end %>

<main class="grow overflow-auto grid grid-cols-1 lg:grid-cols-4 gap-1 lg:gap-3 mt-4 pt-6">
  <div class="col-span-full lg:col-span-3 flex justify-center">
    <div class="w-full md:w-auto md:min-w-[50%] lg:aspect-square max-h-screen flex flex-col items-center gap-4 lg:gap-6">
      <div class="flex justify-center h-20 items-center gap-4">
        <div class="h-12 w-12">
          <%= image_tag "icons/#{@top_event.event_type.icon_filename}" %>
        </div>
        <div class="text-3xl md:text-4xl lg:text-5xl text-center">
          <%= @top_event.event_name %>
        </div>
      </div>
      <div class="text-center">
        <span class="text-7xl lg:text-8xl">
          <%= (@top_event.event_day - Date.current).to_i %>
        </span>
        <span class="text-xl">days</span>
      </div>
      <div class="w-full max-w-2xl mx-auto mt-8 px-4">
        <%= form_with model: Comment.new, url: countdown_comments_path, method: :post, local: true do |form| %>
          <div class="mb-4">
            <%= form.text_area :content, class: "w-full p-2 md:p-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500", rows: 2, placeholder: "Enter your comment" %>
            <%= form.hidden_field :commenter, value: ["Alice", "Bob"].sample %>
            <%= form.hidden_field :comment_date, value: Date.current %>
            <%= form.hidden_field :event_id, value: @top_event.id %>
          </div>
          <div class="text-right">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
              Go
            </button>
          </div>
        <% end %>
        <div class="mt-5 border-t border-gray-200 pt-4 space-y-3 md:space-y-4 max-h-38 lg:max-h-50 overflow-auto">
          <% @top_event.comments.each do |comment| %>
            <div class="p-3 bg-gray-50 rounded shadow">
              <p class="text-sm text-gray-800">
                <span class="font-bold">
                  <%= comment.commenter %> : 
                </span>
                <%= comment.content %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-full lg:col-span-1 max-h-[20vh] lg:max-h-full overflow-auto">
    <ul>
      <% @all_events.each do |event| %>
        <div data-controller="swipe" class="md:flex md:items-center md:flex-row-reverse relative overflow-hidden md:overflow-visible">
          <div class="absolute md:static z-0 inset-0 flex items-center justify-end md:gap-2">
            <button data-role="editButton" class="w-19 h-16 md:w-6 md:h-6 text-white transition duration-200 ease-in-out 
            box-content hover:border-x-2 hover:border-x-blue-500">
              <!-- モバイル -->
              <span class="flex md:hidden bg-gray-500 w-full h-full items-center justify-center">edit</span>
              <!-- PC -->
              <span class="hidden md:block md:rounded-4xl hover:shadow-md">
                <%= image_tag "pen.svg" %>
              </span>
            </button>
            <%= link_to countdown_event_path(event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"w-19 h-16 md:w-6 md:h-6 text-white transition duration-200 ease-in-out 
            box-content hover:border-x-2 hover:border-x-blue-500" do %>
              <!-- モバイル -->
              <span class="flex md:hidden bg-red-500  w-full h-full items-center justify-center">delete</span>
              <!-- PC -->
              <span class="hidden md:block md:rounded-4xl ">
                <%= image_tag "trash.svg" %>
              </span>
            <% end %>
          </div>
          <li 
            data-swipe-target="item"
            data-action="touchstart->swipe#touchStart touchmove->swipe#touchMove touchend->swipe#touchEnd"
            class="md:flex-1 z-10 p-4 bg-white active:bg-blue-200 hover:bg-blue-300 transform transition-transform duration-300 ">
            <div class="flex justify-between h-10 items-center">
              <div class="h-6 w-6">
                <%= image_tag "icons/#{event.event_type.icon_filename}" %>
              </div>
              <div class="text-sm"><%= event.event_name %></div>
              <div class="text-lg"><%= (event.event_day - Date.current).to_i %></div>
            </div>
            <div class="mt-1">
              <div class="w-full h-0.5 bg-gray-200 relative">
                <div class="h-0.5 bg-blue-400" style="width: 100%;"></div>
              </div>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</main>